:root {
  --main-txt-color:rgb(223, 223, 223);
}

::selection{
    background:  rgb(51, 156, 106);
}

body{
    background-color: rgb(28, 29, 28);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1#center{
    text-align: center;
}

.container{
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

h{
    color: var(--main-txt-color);
    position: relative;
    text-align: center;
}

h2{
    text-align: center;
    color: var(--main-txt-color);
}
p{
    color: var(--main-txt-color);
    position: relative;
    font-size: 16pt;
    text-align: center;
    /* background-color: rgb(12, 41, 54); */
}

.green-header{
    color: rgb(66, 245, 158) !important;
}

.small-txt{
  font-size: small;
  color: whitesmoke;
}

.contacts-bar{
    text-align: center;
    color: var(--main-txt-color);
    font-size: small;
}

a{
    color: rgb(189, 176, 176);
    text-decoration: none;
}

a#header-link{
    color: rgb(66, 245, 158) !important;
}

.narrow-block{
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0;
}

.highlight{
    color: rgb(66, 245, 158);
}

.main-text{
    color: var(--main-txt-color);
}

table, th, td {
  border: 1px hidden var(--main-txt-color);
  text-align: center;
  padding: 15px;
}

/* Images styles */

.img-small{
    width: 550px;
    height: 350px;
    object-fit: cover;
}

.screenshot{
  width: 95%;
  object-fit: contain;
}



.cover{
  width: 50%;
  object-fit: cover;
}

img{
    border-radius: 2%;
    transition: all .4s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}

img:hover{
    opacity: .5;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-auto-flow: dense;
}

/* Extra-wide grid-posts */

/* .article:nth-child(31n + 1) {
  grid-column: 1 / -1;
}
.article:nth-child(16n + 2) {
  grid-column: -3 / -1;
}
.article:nth-child(16n + 10) {
  grid-column: 1 / -2;
}  */

/* Single column display for phones */
@media (max-width: 459px) {
  .archive {
    display: flex;
    flex-direction: column;
  }
}

article{
    text-align: center;
}

.button{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-txt-color);
    width: 200px;
    height: 50px;
    border: solid 0px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(70, 71, 70);
}

.button:hover{
  color: #f8f8f8;
  background-color:rgb(98, 99, 98);
  cursor: pointer;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 40%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  width: auto;
  margin-top: 0;
  margin: 20%;
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  margin-top: 1%;
  font-weight: bolder;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:#bbb;

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.link-button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 200px;
    height: 50px;
    border: solid 0px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(66, 163, 116);
}

.link-button:hover{
  color: #f8f8f8;
  background-color:rgb(74, 182, 130);
  cursor: pointer;
}

/* Media styles */
video{
  display: inline;
  margin: 0 auto;
  border-radius: 2%;
}

/* #evil-money{
  background-color: rgb(12, 36, 12);
} */